html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 6rem 0;
}

.navbar {
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
}

.footer {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 2rem 0 0 0;
  left: 0;
  bottom: 0;
  height: 6rem;
  width: 100%;
}

.soc > .icon {
  padding: 0 2rem;
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
  align-items: flex-end;
}

.navbar-brand > span.navbar-item {
  align-items: flex-end;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin: auto;
  padding: 0;
  box-shadow: none;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0.5rem;
}

.has-text-purple {
  color: #5800a5 !important;
}

.has-text-cyan {
  color: #00deee !important;
}

.has-text-orange {
  color: #e46e00 !important;
}

.react-select__control {
  box-sizing: border-box;
  clear: both;
  font-size: 1.25rem;
  position: relative;
  text-align: left;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.ad-display-content {
  padding-top: 1rem;
}

.advert-hero-footer {
  padding-bottom: 0.5rem;
}

.advert-hero-box {
  padding: 0.5rem 0;
  border-radius: 0;
}

.message-box {
  margin-bottom: 1rem;
}

.user-info-icon {
  margin-right: 0.5rem;
}

.user-info-para {
  padding-bottom: 0.5rem;
}

/* .ad-tags .level-item {
  margin: 0 0.5rem;
} */

/* .hero-background {
  background: black url(vintage.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero {
    background: black url(vintage.jpg) center / cover;
  }
}
@media (max-width: 768px) {
  .hero {
    background: black url(vintage.jpg) center / cover;
  }
} */
